.formulario {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 80px 20px;
}

.formulario form {
    max-width: 100%;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
    padding: 8px 40px;
}

.formulario h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #212121;
}

@media (min-width: 650px) {

    .formulario form {
        padding: 8px 100px;
    }
}

@media (min-width: 1200px) {

    .formulario {
        flex-direction: row;
        justify-content: space-evenly;
    }

}